@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px;
  margin-top: 15px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

/* Remove default styling for lists and links */
ul {
  list-style-type: none;
  margin: 10px 0;
  padding: 0 15px;
}

a {
  text-decoration: none;
  color: #666;
}

.header {
  display: flex;
  justify-content: space-between;
}

.left-links {
  display: flex;
  gap: 15px;
}

.right-links {
  display: flex;
  gap: 15px;
}

.content {
/* the flex: 1 below is what causes the footer to go all the way to the bottom. */
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #eee;
}

.header, .footer {
  padding: 16px;
}